@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
}

.container {
    max-width: 1030px;
    padding: 0 15px;
    margin: 0 auto;
}


/* ---- HEADER-NAV ---- */


.header {
    z-index: 6;

    position: fixed;
    padding: 10px;

    top: 0;
    left: 0;
    width: 100%;

    transition: color 0.3s, background-color 0.3s;
}

.header a {
    transition: color 0.3s;
}

.header.scrolled a {
    color: rgba(249, 176, 51);
    font-size: 16px;
    font-weight: 600;
}

.header.scrolled ul {
    gap: 44px;
}

.header.scrolled a::after, .heading__container h5 a::after {
    content: "";
    position: absolute;
    bottom: -4px; /* Отступ от текста */
    left: 0;
    width: 0;
    height: 2px;
    background-color: rgba(249, 176, 51);
    transition: width 0.3s ease;
}

.heading__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav ul li a, .heading__container h5 a {
    color: #fff;

    font-size: 16px;
    font-weight: 500;
    line-height: 27px;

    position: relative;
    text-decoration: none;
    text-transform: uppercase;
}

.header__nav ul li a::after, .heading__container h5 a::after {
    content: "";
    position: absolute;
    bottom: -4px; /* Отступ от текста */
    left: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease;
}

.header__nav ul li a:hover::after, .heading__container h5 a:hover::after {
    width: 100%;
}

.header__nav ul li a:active, .heading__container h5 a:active {
    color: rgba(0, 123, 255, 0.5);
}

.header__nav ul {
    display: flex;
    justify-content: center;
    gap: 45px;
    align-items: center;
}

/* ---- MAIN ---- */

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #332020;
    color: #fff;

    text-align: center;

    min-height: 700px;
    background-image: url('./img/main.jpg');
    box-shadow: inset 1440px 4px 4px 0px rgba(38, 105, 100, 0.25);
    background-size: cover;
    background-position: center;
}

.welcome__heading {
    font-size: 55px;
    font-weight: 600;
    line-height: 70px;
}
.welcome__text {
    padding-top: 15px;

    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}

.welcome__button {
    margin-top: 50px;
    padding: 15px 37px;

    border-radius: 30px;
    border: 1px solid rgb(249, 178, 51);
    background: rgb(249, 178, 51);
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;

    transition: 0.3s ease;
}

.welcome__button:hover {
    background-color: rgba(0, 123, 255, 0.5);
    border: 1px solid rgb(0, 0, 0);
}

.welcome__button:active {
    background-color: rgb(249, 178, 51);
}

/*---- SCHEDULE ---- */

.card {
    cursor: pointer;
}

.schedule h4 {
    padding-top: 6px;
    padding-bottom: 6px;

    color: rgb(68, 68, 68);
    font-size: 16px;
    font-weight: 700;
    text-align: left;
}

.card-container {
    margin-bottom: 90px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    max-width: 800px;
}



.card img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

button.details-btn {
    padding: 8px 16px;
    font-size: 14px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.details-btn:hover {
    background-color: #0056b3;
}

button#load-more {
    margin-bottom: 90px;
    padding: 8px 28px;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;

    border: 1px solid rgb(68, 68, 68);
    background-color: rgb(255, 255, 255);
    color: rgb(68, 68, 68);
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button#load-more:hover {
    background-color: #218838;
}

button#load-more:hover {
    background-color: rgb(249, 178, 51);
}

.hidden {
    display: none;
}

/* Popup styles */

.schedule h3 {
    color: rgb(0, 0, 0);
    font-size: 60px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    padding-top: 100px;
    padding-bottom: 75px;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    gap: 74px;
    justify-content: center;
    max-width: 1030px;
}



.image-container {
    position: relative;
    height: 350px;
    overflow: visible;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0;
}

.price-tag {
    position: absolute;
    top: 8px;
    right: 8px;
    background: white;
    padding: 2px 8px;
    border-radius: 12px;
    font-size: 14px;
    font-weight: bold;
    color: black;
    width: 100px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.date {
    padding-bottom: 6px;

    color: rgb(68, 68, 68);
    font-family: Playfair Display;
    font-style: italic;
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

button.details-btn {
    color: rgb(68, 68, 68);
    font-size: 13px;
    font-weight: 700;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;

    width: 100%;

    border: 1px solid rgb(68, 68, 68);
    border-radius: 30px;
    background-color: rgb(255, 255, 255);
    transition: background-color 0.3s;
}

button.details-btn:hover {
    background-color: rgb(249, 178, 51);
}


.btn-wrapper {
    display: flex;
    justify-content: center;
}

/* Скрытые карточки */
.hidden {
    display: none;
}

/* Popup */

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99;
    background-color: rgba(0, 0, 0, .3);

    display: grid;
    align-items: center;
    justify-content: center;
    overflow-y: auto;
    visibility: hidden;
    opacity: 0;
    transition: opacity .4s, visibility .4s;
}

.modal__box {
    position: relative;
    max-width: 900px;
    padding: 30px 10px;
    z-index: 1;
    margin: 30px 15px;
    background-color: #fff;
    box-shadow: 9px 11px 19px 8px rgba(34, 60, 80, 0.2);
    transform: scale(0);
    transition: transform .8s;
}

.modal__close-btn {
    position: absolute;
    padding: 5px;
    top: 8px;
    right: 8px;
    opacity: 0.6;
}

.modal.open {
    visibility: visible;
    opacity: 1;
}

.modal.open .modal__box {
    transform: scale(1);
}

.modal__content-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.modal__content-img {
    max-width: 350px;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.modal__content-img img {
    max-width: 350px;
    height: 400px;
}

.modal__text-content {
    max-width: 500px;
}

.modal__text-content h3 {
    text-align: left;
    padding-top: 0;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: 700;
}

.modal__text-content h4 {
    padding-top: 0;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
}

/*---- MAIN MODAL ----*/

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s, visibility .4s;
}

.modal-overlay.modal-show {
    opacity: 1;
    visibility: visible;
}

/* Modal */
.main-modal {
    position: relative;
    width: 90%;
    max-width: 400px;
    background: #fff;
    border-radius: 8px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 40px;
    margin: 0 auto;
    margin-top: 150px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transform: translateY(-100%);
    transition: transform 0.4s ease;
}

.main-modal.show {
    transform: translateY(0);
    visibility: visible;
    opacity: 1;
}

/* Close Button */
.button-close {
    color: #333;
    position: absolute;
    top: -5px;
    right: 5px;
    border: none;
    font-size: 40px;
    cursor: pointer;
}

/* Form */
.main-modal form {
    display: flex;
    flex-direction: column;
}

.main-modal form input {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    color: #333;
}

.main-modal .main-btn-input {
    padding: 10px;
    background-color: rgb(249, 178, 51);
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.main-modal .main-btn-input:hover {
    border: 1px solid #333;
    padding: 9px;
    background-color: transparent;
    color: #333;
}


/*---- ABOUT US ---- */

.about-us {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url('./img/about-us.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100%;
}

.about-us h3 {
    padding-top: 90px;
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-weight: 600;
    line-height: 73px;
    text-align: center;
    text-transform: uppercase;
}

.about-us p {
    padding-top:30px;
    color: rgb(255, 255, 255);
    font-size: 23px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;
}

.container__about-us-btn {
    display: flex;
    justify-content: center;
}

.about-us a {
    display: flex;
    margin-top: 50px;
    padding: 12px 85px;
    border-radius: 24.91px;
    box-shadow: 0px 7.06px 20.34px 0px rgba(0, 0, 0, 0.45);
    background: rgb(249, 178, 51);
    border: 1px solid rgb(249, 178, 51);

    font-size: 19px;
    font-weight: 600;
    line-height: 23px;
    color: #fff;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.about-us a:hover {
    background-color: rgba(0, 123, 255, 0.5);
    border: 1px solid rgb(0, 0, 0);
}

/* ---- PERSONS ----- */

.persons {
    background-color: rgba(68, 68, 68, 0.1);
}

.ministr {
    padding-top: 90px;
}

.persons h3 {
    padding-bottom: 60px;

    color: rgb(0, 0, 0);
    font-size: 30px;
    font-weight: 600;
    line-height: 37px;
    letter-spacing: 4%;
    text-align: center;
}

.persons-container {
    padding-bottom: 90px;
    display: flex;
    align-items: center;
    gap: 139px;
}

.persons-container p {
    color: rgb(0, 0, 0);
    font-size: 23px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 4%;
    text-align: center;
}

/* ---- REVIEWS ---- */

.reviews {
    position: relative;
}

.reviews h3 {
    padding-top: 90px;
    padding-bottom: 75px;

    color: rgb(35, 31, 32);
    font-size: 60px;
    font-weight: 600;
    line-height: 73px;
    text-align: center;
}

.reviews-container {
    display: flex;
    position: relative;
    padding-bottom: 90px;
    align-items: center;

    overflow: hidden;
    width: 100%;
}

.reviews-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}



.personal-container {
    padding: 0px 2px;
    display: flex;
    width: 100%;
    align-items: center;
    gap: 75px;

    transition: transform 0.5s ease-in-out;
    flex-shrink: 0;
}

.reviews-container h4 {
    padding-bottom: 5px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    text-align: left;
}

.text-content-item {
    max-width: 700px;
    padding-top: 50px;
    padding-bottom: 25px;
    
    color: rgb(0, 0, 0);
    font-family: Playfair Display;
    font-style: italic;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
}



.text-content-p {
    padding: 0;
    color: rgb(0, 0, 0);
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: left;

    opacity: 1;
    transition: opacity 0.3s ease;
}

.arrow {
    position: absolute;
    transform: translateY(-50%); /* Коррекция для точного центрирования */
    z-index: 10; /* Обеспечиваем, что стрелки будут сверху */
    width: 64px; /* Размер стрелки (подгоните под ваши нужды) */
    height: auto;

    opacity: 1;
    
}

.disabled {
    opacity: 0; /* Прозрачные стрелки, если они отключены */
    pointer-events: none;
    transition: opacity 0.4s ease;
}

.left-arrow {
    left: -100px;
    transform: translateY(-50%) rotate(180deg);
}

.right-arrow {
    right: -100px; /* Сдвиг вправо за пределы контейнера */
}

/* ---- QUESTIONS ---- */

.questions {
    background: rgba(68, 68, 68, 0.1);
}

.questions-wrapper {
    display: flex;
    align-items: center;
    padding-top: 72px;
    padding-bottom: 72px;
    gap: 60px;
}

.questions-wrapper img {
    max-width: 400px;
}

.questions-wrapper h3 {
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: 500;
    line-height: 102.7%;
    text-align: left;
}

.questions-wrapper h3 span {
    font-family: Playfair Display;
    font-style: italic;
    font-weight: 400;
}

/* ---- ACCORDION ---- */

.accordion {
    width: 514px;
    margin: 20px auto;
    border: none;
    border-radius: 5px;
}

.first-accordion {
    padding-top: 45px;
}

.accordion-item {
    border-bottom: 2px solid rgb(0, 0, 0);
}

.first-item {
    border-top: 2px solid rgb(0, 0, 0);
}

.accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 15px 22px 0px;
    cursor: pointer;
}

.accordion-header span {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 500;
}

.accordion-header:hover {
    background-color: #eee;
}

.accordion-content {
    max-height: 0;
    overflow: hidden;
    padding: 0 15px;
    transition: max-height 0.3s ease, padding 0.3s ease;
}

.accordion-content.open {
    max-height: 200px; /* Задайте значение больше предполагаемого контента */
    padding: 10px 15px;
}

.cross {
    width: 20px;
    height: 20px;
    position: relative;
    transition: transform 0.3s ease;
}

.cross::before, .cross::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 20px;
    background: #333;
    transform: translate(-50%, -50%);
}

.cross::after {
    transform: translate(-50%, -50%) rotate(90deg);
}

.rotated {
    transform: rotate(45deg);
}

/* --- FOOTER --- */

.footer {
    background: rgb(0, 0, 0);
}

.footer-contacts {
    padding-top: 30px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 140px;
    justify-content: center;
}

.contact__container h5 {
    padding-bottom: 10px;
    color: rgb(255, 255, 255);
    font-size: 20px;
    font-weight: 500;
    line-height: 25.24px;
    text-align: center;
}

.footer-contact__item {
    padding-top: 14px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-contact__item img {
    width: 25px;
    height: 25px;
}

.footer-contact__item p {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 25.24px;
    text-align: center;
}

.footer-line {
    height: 1px;
    width: 100%;
    background-color: #fff;
}

.footer-title {
    margin-top: 30px;
    padding-bottom: 30px;
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 400;
    line-height: 25.24px;
    text-align: center;
}


/* --- АДАПТИВНАЯ ВЕРСИЯ --- */

.header__burger-btn {
    display: none;
    position: relative;
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;
}

.header__burger-btn span {
    position: absolute;
    width: 30px;
    height: 3px;
    background-color: #000000;
    left: 5px;

    transition: transform .5s, opacity .5s, background-color .5s;
}

.header.open .header__burger-btn span:nth-child(1) {
    transform: translateY(0) rotate(45deg);
}

.header.open .header__burger-btn span:nth-child(2) {
    opacity: 0;
}

.header.open .header__burger-btn span:nth-child(3) {
    transform: translateY(0) rotate(-45deg);
}

.header.open .header__burger-btn span {
    background-color: #fff;
}

.header__burger-btn span:nth-child(1) {
    transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
    transform: translateY(10px);
}

.header__nav-all {
    z-index: 1;
    gap: 200px;
    display: flex;
}

/* --- ТЕНЬ ПРИ НАЖАТИИ НА БУРГЕР --- */

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: 1;
}

.overlay.active {
    opacity: 1;
    visibility: visible;
}

@media (max-width: 970px) {

    .header__nav ul li a::after, 
    .heading__container h5 a::after {
        content: none; /* Убираем линию под текстом */
    }

    .header.scrolled a::after, .heading__container h5 a::after {
        content: none;
    }

    .header__burger-btn {
        display: block;
        z-index: 2;
    }

    .header__nav-all {
        right: -350px;
        width: 250px;
        
        margin-top: 690px;
        padding: 150px 20px 20px 20px;
        display: block;
        position: fixed;

        background-color: rgb(0, 0, 0);

        transition: transform .5s;
    }

    .header__nav ul {
        display: block;
        padding-left: 10px;
    }

    .header__nav ul li a {
        font-size: 21px;
        display: block;
        padding: 10px 0;
    }

    .header__nav-all h5 a {
        font-size: 21px;
        margin-bottom: 400px;
        display: block;
        padding-top: 10px;
        padding-left: 10px;
    }

    .header.open .header__nav-all {
        transform: translateX(-350px);
    }

    .header.scrolled a {
        color: #fff;
        font-size: 21px;
        font-weight: 500;
    }

    .welcome__heading {
        font-size: 28px;
        line-height: 1.43;
    }

    .welcome__text {
        font-size: 16px;
        line-height: 1.23;
    }

    .welcome__button {
        padding: 8px 24px;
        font-size: 18px;
        font-weight: 500;
        font-size: 18px;
    }

    .schedule h3 {
        font-size: 30px;
        padding: 40px 0;
    }

    .about-us h3 {
        padding: 80px 0px 10px 0px;
        font-size: 30px;
        line-height: 30px;
    }

    .about-us p {
        padding-top: 10px;
        font-size: 16px;
        line-height: 1.33;
    }

    .about-us a {
        padding: 8px 24px;
        font-size: 16px;
        font-weight: 500;
        font-size: 18px;
    }

    .ministr {
        padding-top: 50px;
    }

    .persons-container p {
        font-size: 16px;
        line-height: 1.2;
        width: 100%;
    }

    .persons-container {
        flex-direction: column;
        gap: 40px;
    }

    .persons-container img {
        order: -1;
    }

    .persons h3 {
        padding-bottom: 40px;
    }

    .personal-container {
        flex-wrap: wrap;
        gap: 40px;
    }

    .modal__content-wrapper {
        justify-content: center;
        align-items: center;
    }

    .reviews h3 {
        padding: 40px 0;
        font-size: 30px;
        line-height: 30px;
    }

    .text-content-item {
        font-size: 16px;
        max-width: 100%;
        padding-top: 20px;
    }

    .review-photo {
        width: 250px;
        height: 380px;
    }

    .review__photo-container {
        display: grid;
        place-items: center;
        width: 100%;
    }

    .reviews-text-content {
        order: 1;
    }

    .reviews-container {
        padding-bottom: 40px;
    }

    .arrow {
        display: none;
    }

    .questions-wrapper h3 {
        font-size: 30px;
    }

    .questions-wrapper {
        gap: 0;
    }

    .accordion {
        width: 100%;

    }

    .accordion-content.open {
        max-height: 250px;
    }

    @media (max-width: 650px) {
        .footer-contacts {
            gap: 70px;
        }

        .email {
            font-size: 15px !important;
        }
    }

    /* ? */

    .questions-wrapper img {
        display: none;
    }

}